@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root
{
    --VertF : #49514E;
    --vert : #C0E17E;
    --gris : #EAEDE7;
    --blanc : #F5F5F5;
}

h6
{
    color: var(--vert);
    font-size: 1.3rem;
}

footer
{
    background-color: var(--VertF);
    color: var(--blanc);
}

footer h6
{
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
}

footer h6:after
{
    content: "";
    display: block;
    width: 40px;     /* longueur de la ligne (tu peux ajuster) */
    height: 1px;     /* épaisseur */
    background: grey;
    margin-top: 5px; /* espace entre le texte et la ligne */
    text-align: left; /* facultatif */
}

.btn-footer
{
    color: var(--vert);
    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
}

.btn-footer:hover
{
    text-decoration: none;
}

.form-footer input[type="text"]
{
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;

}

::placeholder
{
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}

.form-footer input[type="button"]
{
    border: none;
    background:#232323;
        margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}

.social .fa
{
    color: grey;
    font-size: 22px;
    padding: 10px 15px;
    background: #3c3c3c;
}

footer ul li
{
    list-style: none;
    display: block;
}

footer ul
{
   padding-left: 0;
}

footer ul  li a
{
  text-decoration: none;
  color: grey;
  text-decoration:none;
}

a:hover
{
    text-decoration: none;
    color: #f5f5f5 !important;

}

.logo-part
{
    border-right: 1px solid grey;
    height: 100%;
}

#mapid
{
    height: 250px !important;
    border-radius: 10px;
}
