@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root
{
    --VertF : #49514E;
    --vert : #C0E17E;
    --gris : #EAEDE7;
    --blanc : #F5F5F5;
}

body
{
    font-family: "Bodoni";
    font-size: clamp(1.4rem, 1.5vw, 1.8rem);
    line-height: 1.4;
    overflow-x: hidden;
    min-height: 100vh;
}

p
{
    font-family: "Bodoni";
    text-align: center;
}

h2
{
    font-size: clamp(3rem, 2rem, 1.8rem);
}



/* Indicateur de progression */

#scroll-indicator
{
  position: fixed;
  bottom: 20px;
  left: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: conic-gradient(gray 0%, transparent 0%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: background 0.3s ease;
}

    /* Cercle intérieur pour l'effet de "remplissage circulaire" */
.inner-circle
{
  position: relative;
  width: 50px;
  height: 50px;
  background: var(--beige);
  border-radius: 50%;
}

.scroll-arrow
{
  position: absolute;
  top: 20%;
  left: 34%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: gray;
  animation: blink 1.2s infinite;
  user-select: none;
  pointer-events: none;
}

@keyframes blink
{
  0%, 100%
  {
    opacity: 1;
    transform: translateY(0);
  }
  50%
  {
    opacity: 0.3;
    transform: translateY(3px);
  }
}
/* Indicateur de progression END */

/* Section : Accueil */
.bannerTitle
{
    font-family: "Bodoni Moda", serif;
    color: var(--blanc);
    letter-spacing: .4rem;
}

.banner
{
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0)), url(../img/banner/home.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
}

.accueilTxt
{
    margin-top: 10%;
}

#accueilPicto
{
    height: 40rem;
}
/* Section : Accueil  END */

/* Animation : feuille */
.svg-animated
{
    width: 70px;       /* taille de l'icône */
    height: 70px;
    animation: float 2s ease-in-out infinite;
}

@keyframes float
{
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px); /* monte de 10px */
    }
    100% {
        transform: translateY(0px);
    }
}
/* Animation : feuille END */


/* Section : Services */
.services
{
    min-height: 1500px;
    background-color: var(--vert);
    display: flex;
    align-items: center;
    justify-content: center;
}

.blocCards
{
    margin-top: 10% !important;
}

.card-img-fixed
{
    height: 200px;
    object-fit: cover;
}

@media (max-width: 768px)
{
    .card-img-fixed {
        height: 150px;  /* hauteur réduite sur les petits écrans */
    }
}
/* Section : Services END */
