@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root
{
    --VertF : #49514E;
    --vert : #C0E17E;
    --gris : #EAEDE7;
    --blanc : #F5F5F5;
}

body
{
    font-family: "Roboto", sans-serif;
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    line-height: 1.2;
    overflow-x: hidden;
    min-height: 100vh;
}

/* Indicateur de progression */

#scroll-indicator
{
  position: fixed;
  bottom: 20px;
  left: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: conic-gradient(gray 0%, transparent 0%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: background 0.3s ease;
}

/* Cercle intérieur pour l'effet de "remplissage circulaire" */
.inner-circle
{
  position: relative;
  width: 50px;
  height: 50px;
  background: var(--beige);
  border-radius: 50%;
}

.scroll-arrow
{
  position: absolute;
  top: 20%;
  left: 34%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: gray;
  animation: blink 1.2s infinite;
  user-select: none;
  pointer-events: none;
}

@keyframes blink
{
  0%, 100%
  {
    opacity: 1;
    transform: translateY(0);
  }
  50%
  {
    opacity: 0.3;
    transform: translateY(3px);
  }
}
/* END */

.bannerTitle
{
    font-family: "Bodoni Moda", serif;
    color: var(--blanc);
    letter-spacing: .4rem;
}

.banner
{
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0)), url(../img/banner/home.jpg) center center fixed no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
}
